<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectmpt.projectmpt">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MeetActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MapActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListActivity"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAItqYZdfn88goKDHp3_4gGa7jNJMhzDRM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".listDetailActivity"
            android:label="@string/title_activity_list_detail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ProvideActivity"
            android:label="@string/title_activity_provide"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ListTransportActivity" />
        <activity android:name=".ListTransportDetailActivity" />
        <activity
            android:name=".MapTransportActivity"
            android:label="@string/title_activity_map_transport"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>